:root {

  --clr-background-100: hsl(0, 0%, 100%);
  --clr-background-200: hsl(210, 20%, 98%);
  --clr-background-300: hsl(0, 0%, 92%);
  --clr-background-400: hsl(214, 100%, 97%);
  

  --clr-heading-900: hsla(0, 0, 0, 1);
  --clr-heading-800: hsla(221, 38%, 11%, 1);

  --clr-body-dark: hsla(221, 0, 7%, 1);
  --clr-body-medium: hsla(221, 0, 27%, 1);
  --clr-body-light: hsla(0, 0, 27%, 1);

  --clr-body-links: hsla(217, 91%, 60%, 1);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

}

/* CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
  /*
    2. Remove default margin
  */
* {
    margin: 0;
}
  /*
    3. Allow percentage-based heights in the application
  */
html, body {
    height: 100%;
}
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
  /*
    6. Improve media defaults
  */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  /*
    7. Remove built-in form typography styles
  */
input, button, textarea, select {
    font: inherit;
}
  /*
    8. Avoid text overflows
  */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

button {
  cursor: pointer;
}


/* Utility Class */
.container {
  max-width: 672px;
  margin: 0 auto;
}

.flex-group {
  display: flex;
}

.grid {
  display: grid;
}

.border {
  border: 2px red solid;
}

.gb-1 {
  background-image: linear-gradient(to right, hsl(269, 97%, 85%), hsl(234, 89%, 74%));
}

.gb-2 {
  background-image: linear-gradient(to right, hsl(156, 72%, 67%), hsl(217, 91%, 60%), hsl(271, 81%, 56%));
}

.gb-3 {

  background-image: linear-gradient(to right, hsl(48, 97%, 77%), hsl(14, 95%, 76%), hsl(0, 96%, 89%));
}

.gb-4 {

  background-image: linear-gradient(to right, hsl(230, 60%, 54%), hsl(304, 52%, 55%), hsl(39, 100%, 72%));
}

.gb-5 {

  background-image: linear-gradient(to right, hsl(196, 93%, 47%), hsl(153, 91%, 56%));
}

.gb-6 {
  background-image: linear-gradient(to right, hsl(223, 100%, 98.6%), hsl(330, 100%, 98.4%));
}


/* ================
    Custom Styles 
   ================ */

/* ====== Typography ======= */
h1 {
  font-size: 3rem;
  font-weight: var(--fw-bold);
  letter-spacing: -1.9px;
  color: var(--clr-heading-900);
}

h2 {
  font-size: 1rem;
  font-weight: var(--fw-medium);
  letter-spacing: -0.25px;
  color: var(--clr-body-medium);
}

h3 {
  font-size: 2.25rem;
  font-weight: var(--fw-semibold);
  letter-spacing: -0.96px;
  color: var(--clr-heading-800);
}

body {
  font-size: 1rem;
  font-weight: var(--fw-regular);
  letter-spacing: -0.8px;
  background-color: var(--clr-background-200);
  color: var(--clr-body-medium);
}

.number, .year, .place, .score, .board {
  font-size: 1rem;
  font-weight: var(--fw-regular);
  color: var(--clr-body-light);
}

.nav-items a, footer {
  font-size: 1rem;
  font-weight: var(--fw-regular);
  color: var(--clr-body-light);
}

/* ======= Layout ======== */

/* Header and Navigation */
header {
  margin-top: 1.875rem;
}

nav {
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.nav-items, .nav-items a {
  gap: 0.5rem;
  text-decoration: none;
}

.nav-items a {
  padding: 3px 8px;
  border-radius: 0.5rem;
}

.nav-items a:hover {
  background-color: var(--clr-background-300);
  font-weight: var(--fw-medium);
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.toggle-btn {
  width: 32px;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  background-color: var(--clr-background-300);
  border: none;
}

.toggle-btn:hover {
  border: 2px solid hsl(0, 0%, 70%);
}

.light-icon {
  width: 16px;
  aspect-ratio: 1;
  margin: 0 auto;
}

/* Main */

/* Profile */
.profile {
  margin-top: 2.5rem;
  justify-content: space-between;
}

.profile__info {
  margin-top: 1.875rem;
  max-width: 27rem;
}

h2 span {
  font-weight: var(--fw-bold);
}

.profile__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--clr-background-300);
  background-image: url("./Assets/me.jpg");
  background-size: cover;
  background-position: center;
}

/* Biography */
.biography {
  margin-top: 4.6rem;
}

.bio__title {
  font-weight: var(--fw-bold);
  margin-bottom: 1.875rem;
}

.bio__data {
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px var(--clr-background-300) solid;
  padding: 0.8rem 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.bio__data::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, hsla(223, 84%, 93%, 0.5), rgba(246, 220, 233, 0.5));
  border-radius: 0.5rem;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.bio__data:hover::before {
  opacity: 1;
}

.bio__data-content {
  gap: 1.875rem;
  align-items: center;
}

.bio__data-text {
  max-width: 28.75rem;
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
}

.bio__data-href a{
  text-decoration: none;
  color: var(--clr-body-light);
  font-weight: var(--fw-regular);
  gap: 5px;
}

.bio__data-href a:hover {
  font-weight: var(--fw-medium);
}

/* Featured Projects */

.featured {
  margin-top: 4.6rem;
}

.featured__title {
  font-weight: var(--fw-bold);
  margin-bottom: 1.875rem;
}

.featured__projects-container {
  gap: 1.5rem;
}

.gb {
  width: 208px;
  height: 244px;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  transform: scale(1);
  transition: transform 500ms;
}

.gb:hover {
  transform: scale(1.02);
}

.featured__projects {
  width: 200px;
  height: 236px;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0.75rem;
  background-color: var(--clr-background-100);
  border-radius: 0.5rem;

}

.featured__projects p {
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
}

.featured__projects-href a {
  text-decoration: none;
  color: var(--clr-body-light);
  font-weight: var(--fw-regular);
  gap: 5px;
}

.featured__projects-href a:hover {
  font-weight: var(--fw-medium);
}

/* Add scale for card when hover */

/* Skills */
.skills {
  margin-top: 4.6rem;
}

.skills__title {
  font-weight: var(--fw-bold);
}

.skills-container {
  margin-top: 1.875rem;
}

.skills-data {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px var(--clr-background-300) solid;
  padding-bottom: 1rem;
  margin-bottom: 1.25rem;
}

.skills-data-text {
  gap: 1.25rem;
  align-items: center;
}

.skills-body {
  font-size: 1.125rem;
  font-weight: var(--fw-medium);
}

.skill-level {
  width: 144px;
  height: 8px;
  background-color: var(--clr-background-300);
  border-radius: 100vmax;
}

.skill-level .level1 {
  width: 80%;
  height: 100%;
  border-radius: 100vmax;
  
}
.skill-level .level2 {
  width: 70%;
  height: 100%;
  border-radius: 100vmax;
  
}
.skill-level .level3 {
  width: 40%;
  height: 100%;
  border-radius: 100vmax;
  
}
.skill-level .level4 {
  width: 60%;
  height: 100%;
  border-radius: 100vmax;
  
}
.skill-level .level5 {
  width: 50%;
  height: 100%;
  border-radius: 100vmax;
  
}

/* Contact */
.contact {
  margin-top: 5.6rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  border-radius: 4px;
  background-color: var(--clr-background-400);
  border: 1.5px hsl(214, 97%, 87%) solid;
}

.contact-title {
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
}

.contact-text {
  width: 530px;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

form {
  max-width: 620px;
  background-color: var(--clr-background-100);
  border-radius: 0.4rem;
}

input {
  width: 79%;
  height: 40px;
  background-color: var(--clr-background-100);
  border: none;
  border-radius: 0.4rem;
}

input::placeholder {
  padding-left: 0.875rem;
}

.btn {
 display: inline-flex;
 width: 20%;
 height: 32px;
 border: none;
 justify-content: center;
 align-items: center;
 gap: 0.5rem;

 background-color: var(--clr-background-200);
 font-weight: var(--fw-semibold);
 border-radius: 4px;
}

.btn[data-icon= "send-icon"]::after {
  content: " ";
  width: 16px;
  height: 16px;
  background-image: url("./Assets/Vector.svg");
  background-size: cover;
  background-position: center;
}

.btn:hover {
  border: 1.5px solid hsl(0, 0%, 80%);
}

/* Footer */
.footer {
  margin-top: 5rem;
  padding-block: 4rem;
  gap: 10rem;
  border-top: 1.5px var(--clr-background-300) solid;
}

.footer a {
  text-decoration: none;
  color: var(--clr-body-light);
}

.pages, .socials {
  flex-direction: column;
  gap: 1.875rem;
}

/* About */
.about {
  margin-top: 2.25rem;
}

/* Links */
.links {
  margin-top: 4.5rem;
}

.links h2 {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  letter-spacing: -0.9px;
}

.links__list {
  margin-top: 2.8125rem;
}

.links__list li {
  margin-bottom: 1.25rem;
}

.links__list a {
  text-decoration: none;
  color: hsl(217, 91%, 50%);
  font-weight: var(--fw-medium);
}

.links__list li::marker {
  color: #D1D5DB;
}


/* Bio */
.bio h2 {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}

/* Profile */
.profile {
  margin-top: 2.5rem;
}

.profile__title {
  font-size: 1.125rem;
  font-weight: var(--fw-semibold);
}

.profile p {
  margin-top: 1.875rem;
  padding-bottom: 1.125rem;
  border-bottom: 1.5px var(--clr-background-300) solid;
}

/* Education */
.education {
  margin-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1.5px var(--clr-background-300) solid;
}

.education__title {
  font-size: 1.125rem;
  font-weight: var(--fw-semibold);
}

.education__data {
  margin-top: 1.875rem;
}

.education__data .place {
  float: inline-end;
}

.education__data-title {
  font-weight: var(--fw-medium);
  margin-bottom: 1rem;
}

.education__data .year {
  margin-bottom: 1.25rem;
}

.education__data .board {
  margin-bottom: 1rem;
}


/* Experience */
.experience {
  margin-top: 1.25rem;
}

.experience__title {
  font-size: 1.125rem;
  font-weight: var(--fw-semibold);
}

.experience__data {
  margin-top: 1.875rem;
}

.experience__data-title {
  font-weight: var(--fw-medium);
  margin-bottom: 1rem;
}

.experience__data .year {
  margin-bottom: 1.5rem;
}

/* Contact */
.contact-near {
  margin-top: 2.5rem;
}

.contact__title {
  margin-top: 2rem;
  margin-bottom: 1.875rem;
}

.contact-form {
  background-color: hsl(214, 100%, 97%)
}

.form-message {
  margin-top: 1.25rem;
  background-color: var(--clr-background-100);
  border-radius: 0.5rem;
}

.input-form {
  gap: 2.5rem
}
